<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


        <!-- title of site -->
        <title>Directory Landing Page</title>

    </head>

	<body>
		
         <!-- Horizontal Menu -->
         <nav id="navbar" *ngIf="navbarVisible" class="navbar">
            <ul class="navbar-list">
                <div class="navbar-logo">
                    <img src="assets/img/logo.png" alt="Logo" class="logo-image" />
                </div>
              <!-- Title on the left -->
              <li class="navbar-title">
               Welcome to Web Guardian
              </li>
              
            
            </ul>
          </nav>

		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">
            <div class="container">
              <div class="welcome-hero-txt">
                <h2>Best place to test your websites <br> that all you need</h2>
                <p>All you have to do is to put your URL</p>
                
                <div class="hero-buttons">
                    <a href="login" class="btn">Login</a>
                    <a href="register" class="btn">Sign Up</a>
                </div>
              </div>
            </div>
          </section>

		

		<!--works start -->
<section id="works" class="works">
    <div class="container">
        <div class="section-header">
            <h2>How It Works</h2>
            <p>Learn more about how our website monitors other websites</p>
        </div><!--/.section-header-->
        <div class="works-content">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="flaticon-lightbulb-idea"></i>
                        </div>
                        <h2>Choose <span> a Website</span></h2>
                        <p>
                            Select any website you want to monitor. Our tool allows you to check the status and security of any site you care about.
                        </p>
                      
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="flaticon-networking"></i>
                        </div>
                        <h2>Monitor <span> Availability</span></h2>
                        <p>
                            Our service checks whether the website is online or offline. We provide instant feedback on the website's status.
                        </p>
                       
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="flaticon-location-on-road"></i>
                        </div>
                        <h2>Check <span> SSL Security</span></h2>
                        <p>
                            We inspect the SSL certificate of the website, letting you know if it’s secure and when the certificate will expire.
                        </p>
                      
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</section><!--/.works-->
<!--works end -->


		<!--footer start-->
		<footer id="footer"  class="footer">
			<div class="container">
				<div class="footer-menu">
		           	<div class="row">
			           	
		           </div>
				</div>
				<div class="hm-footer-copyright">
					<div class="row">
						<div class="col-sm-5">
							<p>
								&copy;copyright. designed and developed by ShyrineProd Team
							</p><!--/p-->
						</div>
						<div class="col-sm-7">
							<div class="footer-social">
								<span><i class="fa fa-phone"> +1  (222) 777 8888</i></span>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
					</div>

				</div><!--/.hm-footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>

			</div><!--/.scroll-Top-->

        </footer><!--/.footer-->
		<!--footer end-->
      

    </body>

</html>


