<body class="bg-gradient-primary">
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="row">
          <!-- Left Image Section -->
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <input type="text" formControlName="username" class="form-control form-control-user" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="email" formControlName="email" class="form-control form-control-user" placeholder="Email Address">
                </div>
               
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" formControlName="password" class="form-control form-control-user" placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" formControlName="confirmPassword" class="form-control form-control-user" placeholder="Repeat Password">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block" [disabled]="signupForm.invalid">
                  Register Account
                </button>
              </form>
              
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="/login">Already have
  